body {
    background: #0083B0;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    min-height: 100vh;
}

.form-control::placeholder {
    font-style: italic;
    font-size: 0.85rem;
    color: #aaa;
}

h3 {
    text-align: center;
    color: white;
    size: 200%;
}

.table input {
    border: none;
}

#edit {
    width: 45%;
    margin: 2%;
    background-color: #00B4DB;
    color: white;
}

#delete {
    width: 45%;
    background-color: red;
    color: white;
}